<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Begin</servlet-name>
		<servlet-class>com.raibaz.lupus.BeginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Begin</servlet-name>
		<url-pattern>/begin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendMessage</servlet-name>
		<servlet-class>com.raibaz.lupus.SendMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMessage</servlet-name>
		<url-pattern>/sendMessage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateGame</servlet-name>
		<servlet-class>com.raibaz.lupus.servlet.CreateGameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateGame</servlet-name>
		<url-pattern>/create_game</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListGames</servlet-name>
		<servlet-class>com.raibaz.lupus.servlet.GameListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListGames</servlet-name>
		<url-pattern>/list_games</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JoinGame</servlet-name>
		<servlet-class>com.raibaz.lupus.servlet.JoinGameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JoinGame</servlet-name>
		<url-pattern>/join_game</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>StartGame</servlet-name>
		<servlet-class>com.raibaz.lupus.servlet.StartGameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartGame</servlet-name>
		<url-pattern>/start_game</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>GetGame</servlet-name>
		<servlet-class>com.raibaz.lupus.servlet.GetGameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetGame</servlet-name>
		<url-pattern>/get_game</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Chat</servlet-name>
		<servlet-class>com.raibaz.lupus.servlet.ChatServlet</servlet-class>
	</servlet>		
	<servlet-mapping>
		<servlet-name>Chat</servlet-name>
		<url-pattern>/chat</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>ChangeState</servlet-name>
		<servlet-class>com.raibaz.lupus.servlet.ChangeStateServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ChangeState</servlet-name>
		<url-pattern>/change-state</url-pattern>
	</servlet-mapping>			
	<servlet>
		<servlet-name>Vote</servlet-name>
		<servlet-class>com.raibaz.lupus.servlet.VoteServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Vote</servlet-name>
		<url-pattern>/vote</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
		    <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
	
</web-app>
